@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-hover: var(--muted-hover);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-hover: var(--accent-hover);
  --color-accent-strong: var(--strong-accent);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-hover: var(--destructive-hover);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-other-user: var(--other-user);
  --color-other-user-strong: var(--other-user-strong);
  --color-other-user-strong-foreground: var(--other-user-strong-foreground);

  --radius: 0.5rem;

  --color-brand-google-blue: #4285f4;
  --color-brand-google-green: #34a853;
  --color-brand-google-yellow: #fbbc05;
  --color-brand-google-red: #ea4335;
}

:root {
  --primary: #16a34a;
  --primary-hover: #15803d;
  --primary-foreground: #ffffff;

  --background: #ffffff;
  --foreground: #0f172a;

  --card: #ffffff;
  --card-foreground: #0f172a;

  --popover: #ffffff;
  --popover-foreground: #0f172a;

  --secondary: #f1f5f9;
  --secondary-hover: #e2e8f0;
  --secondary-foreground: #0f172a;

  --muted: #f8fafc;
  --muted-hover: #f1f5f9;
  --muted-foreground: #64748b;

  --accent: #f1f5f9;
  --accent-hover: #e2e8f0;
  --accent-foreground: #0f172a;

  --destructive: #ef4444;
  --destructive-hover: #dc2626;
  --destructive-foreground: #ffffff;

  --strong-accent: #3476d8;
  --strong-accent-hover: #0d34ae;
  --strong-accent-foreground: #ffffff;

  --other-user: #8b5cf6;
  --other-user-strong: #c8f65c;
  --other-user-strong-foreground: #000000;

  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #16a34a;
}

.dark {
  --primary: #338f39;
  --primary-hover: #2e8033;
  --primary-foreground: #ffffff;

  --background: #020617;
  --foreground: #f8fafc;

  --card: #0f172a;
  --card-foreground: #f8fafc;

  --popover: #0f172a;
  --popover-foreground: #f8fafc;

  --secondary: #1e293b;
  --secondary-hover: #334155;
  --secondary-foreground: #f8fafc;

  --muted: #1e293b;
  --muted-hover: #334155;
  --muted-foreground: #94a3b8;

  --accent: #1e293b;
  --accent-hover: #334155;
  --accent-foreground: #f8fafc;

  --destructive: #7f1d1d;
  --destructive-hover: #991b1b;
  --destructive-foreground: #f8fafc;

  --strong-accent: #3476d8;
  --strong-accent-hover: #0d34ae;
  --strong-accent-foreground: #ffffff;

  --other-user: #8b5cf6;
  --other-user-strong: #c8f65c;
  --other-user-strong-foreground: #000000;

  --border: #1e293b;
  --input: #1e293b;
  --ring: #338f39;
}

*,
::after,
::before {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
